@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?rp3cio');
  src:  url('../fonts/icomoon.eot?rp3cio#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rp3cio') format('truetype'),
    url('../fonts/icomoon.woff?rp3cio') format('woff'),
    url('../fonts/icomoon.svg?rp3cio#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-load:before {
  content: "\e900";
}
