@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
* {
  padding: 0;
  margin: 0;
}

.row {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  grid-template-rows: 30px 30px 30px;
  max-width: 100px;
  /* grid-gap: 1px; */
  padding: 4px;
  font-family: "Permanent Marker", cursive;
}

.cell {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

