@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --board-width: 200px;
  --hand-font: "Permanent Marker", cursive;
  --roboto-font: "Roboto", sans-serif;
  --white: #ffffff;
  --grey-1: #e3e3e3;
  --blue: #46a3ff;
  --red: #ff827e;
  --black: #000000;
}

body {
  background-color: var(--black);
}

#app {
  background-color: var(--white);
  height: 100vh;
  min-width: 390px;
  width: 390px;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, calc(var(--board-width) / 3));
  grid-template-rows: repeat(3, calc(var(--board-width) / 3));
  max-width: var(--board-width);
  font-family: var(--hand-font);
  font-size: calc(var(--board-width) / 4);
  line-height: 1;
  grid-gap: 10px;
}

.cell {
  border: 1px solid var(--grey-1);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
